/* ---------------------------------------------------------------------
Form Styles
------------------------------------------------------------------------ */

.gform_wrapper h3.gform_title {
    font-size: 26px;
    font-weight: 500;
    padding-bottom: 16px;
}

.gform_wrapper {
    max-width: 100%;
    margin: 0;
    padding-bottom: 30px;
}

.gform_wrapper ul.gform_fields {
    margin: 0 !important;
    padding: 0 !important;
}

.gform_wrapper ul.gform_fields .gfield + .gfield {
    margin-top: 10px;
}

.gform_wrapper .gform_footer,
.gform_wrapper .gform_page_footer {
    overflow: hidden;
    text-align: center;
}

.gform_wrapper .top_label .gfield_label {
    display: block;
    font-weight: 400;
    margin: 0 0 5px;
    text-transform: uppercase;
}

/* move label into field until focused */
.gform_wrapper .gfield .gfield_label {
    color: var(--COLOR_GREY);
    transition: all .15s ease-in-out;
    transform: translate3d(15px, 35px, 0);
    transform-origin: left;
}

/* move label back into original resting position */
.gform_wrapper .gfield.isActive .gfield_label {
    color: var(--COLOR_ORANGE);
    transform: translate3d(0, 0, 0) scale(0.8);
}

/* move label back into original resting position */
.gform_wrapper .gfield.isActive.hasValue .gfield_label {
    color: var(--COLOR_GREY_LITE);
}

.gform_wrapper .gfield_required {
    color: var(--COLOR_RED);
}

.gform_wrapper input[type=text],
.gform_wrapper input[type=url],
.gform_wrapper input[type=email],
.gform_wrapper input[type=tel],
.gform_wrapper input[type=number],
.gform_wrapper input[type=password],
.gform_wrapper textarea.textarea {
    @apply --inputStyles;
}

.gform_wrapper input:focus,
.gform_wrapper textarea:focus,
.gform_wrapper select:focus  {
    @apply --inputHoverStyles;
}

.gform_wrapper select {
    font-family: inherit;
    letter-spacing: normal;
    display: inline-block;
    height: 51px;
    padding: 15px 35px 15px 15px;
    font-size: 14px;
    font-weight: 400;
    color: var(--COLOR_BLACK);
    background: darken(var(--COLOR_OFFWHITE), 2) url(../media/select-arrow.png) no-repeat right 18px;
    border: 1px solid darken(var(--COLOR_OFFWHITE), 7);
}

.gform_wrapper.gf_browser_chrome ul.gform_fields li.gfield input[type=radio] {
    margin-left: 1px;
}

.gform_wrapper .top_label input.medium {
    padding-right: 16px;
}

.gform_wrapper input[type=button],
.gform_wrapper input[type=submit] {
    @apply --btnPrimary;
}

.gform_wrapper input[type=button] {
    float: left;
}

.gform_wrapper .gform_page_footer .button.gform_next_button,
.gform_wrapper .gform_page_footer input[type=submit].button.gform_button {
    float: right;
    margin-right: 0;
}

.gform_wrapper input[type=button]:hover,
.gform_wrapper input[type=submit]:hover {
    @apply --btnPrimaryHover;
}

.gform_wrapper .gform_fileupload_multifile input[type=button] {
    display: inline;
    float: none;
    font-size: 14px;
    margin-left: 5px;
    padding: 0 10px;
}

.gform_wrapper li.gfield.gfield_error.gfield_contains_required {
    margin-top: 0;
    margin-bottom: 0 !important;
    padding-left: 0 !important;
}

.gform_wrapper li.gfield.gfield_error,
.gform_wrapper li.gfield.gfield_error.gfield_contains_required.gfield_creditcard_warning {
    background-color: transparent;
    margin-bottom: 0 !important;
    padding: 0 !important;
    border: none;
}

.gform_wrapper .top_label .gfield_error {
    width: inherit;
}

.gform_wrapper .gfield_error .gfield_label {
    color: inherit;
}

.gform_wrapper div.validation_error,
.gform_wrapper .validation_message {
    color: red;
}

.gform_wrapper li.gfield_error input[type=text],
.gform_wrapper li.gfield_error input[type=url],
.gform_wrapper li.gfield_error input[type=email],
.gform_wrapper li.gfield_error input[type=tel],
.gform_wrapper li.gfield_error input[type=number],
.gform_wrapper li.gfield_error input[type=password],
.gform_wrapper li.gfield_error textarea {
    border-color: red;
}

.gform_wrapper .top_label li.gfield.gfield_error.gf_left_third,
.gform_wrapper .top_label li.gfield.gfield_error.gf_middle_third,
.gform_wrapper .top_label li.gfield.gfield_error.gf_right_third {
    width: 32%;
}

.gform_wrapper .gf_progressbar_wrapper,
.gform_wrapper .gsection,
.gform_wrapper .gform_page_footer {
    width: 97.5%;
}

.gform_wrapper .gf_progressbar {
    width: 100%;
    border: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.gform_wrapper .gf_progressbar,
.gform_wrapper .gf_progressbar_percentage {
    background-size: contain;
    height: 40px;
}

.gform_wrapper .gf_progressbar_percentage {
    font-family: inherit;
}

.gform_wrapper .gf_progressbar_percentage span {
    margin-top: 10px;
}

.gform_wrapper .datepicker {
    width: 8em !important;
}

.gform_wrapper .gfield_date_day,
.gform_wrapper .gfield_date_month,
.gform_wrapper .gfield_date_year,
.gform_wrapper .gfield_time_hour,
.gform_wrapper .gfield_time_minute {
    width: 5.6em;
}

.gform_wrapper .gfield_time_hour i {
    width: 24%;
}

.gform_wrapper .gfield_date_year {
    width: 5.5em!important;
}

.gform_wrapper .gfield_date_day,
.gform_wrapper .gfield_date_month,
.gform_wrapper .gfield_date_year {
    width: 4.5em;
}

@media screen and (max-width: 767px) {
    .gform_wrapper .gf_progressbar_wrapper,
    .gform_wrapper .gf_progressbar,
    .gform_wrapper select,
    .gform_wrapper textarea,
    div.gform_wrapper.gf_browser_chrome select,
    .gform_wrapper .ginput_complex.ginput_container.has_first_name.no_middle_name.has_last_name span,
    .gform_wrapper .ginput_complex.ginput_container.no_first_name.has_middle_name.has_last_name span,
    .gform_wrapper .ginput_complex.ginput_container.has_first_name.has_middle_name.no_last_name span,
    .gform_wrapper .ginput_complex .ginput_left,
    .gform_wrapper .ginput_complex .ginput_right,
    .gform_wrapper .ginput_complex .ginput_full input[type=text],
    .gform_wrapper .ginput_complex .ginput_full input[type=url],
    .gform_wrapper .ginput_complex .ginput_full input[type=email],
    .gform_wrapper .ginput_complex .ginput_full input[type=tel],
    .gform_wrapper .ginput_complex .ginput_full input[type=number],
    .gform_wrapper .ginput_complex .ginput_full input[type=password],
    .gform_wrapper .ginput_complex .ginput_right select,
    .gform_wrapper .ginput_complex select,
    .gform_wrapper .gform_fields li.gfield,
    .gform_wrapper .gform_page_footer {
        width: 100% !important;
    }
    .gform_wrapper .ginput_complex .ginput_right,
    .gform_wrapper .gform_fields li.gfield.gf_middle_third,
    .gform_wrapper .gform_fields li.gfield.gf_right_third {
        margin-left: 0 !important;
    }
    .gform_wrapper .gform_page_footer .button.gform_next_button,
    .gform_wrapper .gform_page_footer .button.gform_previous_button,
    .gform_wrapper .gform_page_footer .button.gform_button {
        margin: 0 0 .5em;
    }
    .gform_wrapper li.gfield.gf_2col ul.gfield_checkbox li,
    .gform_wrapper li.gfield.gf_2col ul.gfield_radio li,
    .gform_wrapper li.gfield.gf_list_2col ul.gfield_checkbox li,
    .gform_wrapper li.gfield.gf_list_2col ul.gfield_radio li {
        width: 100%;
    }
}
